{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    
    "no-mixed-spaces-and-tabs": "off",
    "no-mixed-operators": "off",
    "linebreak-style": "off",
    "no-tabs": "off"
    
  }
}
